{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/yaya_style.css' %}">
    <style>
        {% block inpage_css %}{% endblock %}
    </style>
    <title>{% block title %}{% endblock %}</title>
</head>
<body {% block bodyspecs %}{% endblock %}>
    <!-- Top Navbar -->
  <header class="navbar navbar-inverse navbar-fixed-top">
    <nav>
      <div class="container">
        <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#navLinks" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
            <a class="navbar-brand" href="#">
                <div class="container-fluid">
                    <img src="{% static 'pictures/data_combine_smaller.png' %}" height="30" class="d-inline-block align-top" alt="">
                    YAYA Data Combine
                </div>
            </a>
        </div>
        <div id="navLinks" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a id="about-btn" class="btn" href="#about">About</a></li>
            <li><a id="manage-contact-btn" class="btn" href="{% url 'manage_root' %}">Manage Contacts</a></li>
            {% if user.is_authenticated %}
              <li><a id="logout-btn"  class="btn" href="{% url 'logout' %}">Logout</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
  </header>
    <div class="container">
        {% if messages %}

            <ul class="messages">
              {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
              {% endfor %}
            </ul>
        {% endif %}
    </div>
    {% block content %}{% endblock %}
    <!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
    <!-- jQuery local fallback -->
    <script>window.jQuery || document.write('<script src="/static/js/jquery.min.js"><\/script>')</script>
    <!-- Bootstrap JS CDN -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <script src="{% static 'js/jquery.formset.js' %}"></script>
    <!-- Bootstrap JS local fallback -->
    <script>if(typeof($.fn.modal) === 'undefined') {document.write('<script src="/static/js/bootstrap.min.js"><\/script>')}</script>
  <!-- Bootstrap CSS local fallback -->
    <div id="bootstrapCssTest" class="hidden"></div>
      <script>
        $(document).ready(function(){
            $(function() {
              if ($('#bootstrapCssTest').is(':visible')) {
                $("head").prepend('<link rel="stylesheet" href="/static/css/bootstrap.min.css">');
                $("head").prepend('<link rel="stylesheet" href="/static/css/font-awesome.min.css">');
              }
            });
            {% block jquery %}{% endblock %}
        });
      </script>
</body>
</html>