{% extends '_base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="container">
        <div class="jumbotron">
            <h1>What's the password?</h1>
            <p><small>...and no it's not "I have weed"</small></p>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-primary btn-lg" type="submit" role="button">Login</button>
            </form>
        </div>
    </div>
{% endblock %}